li {
  list-style-type: none;
}

ul {

}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.current-weather {
  background-color:dodgerblue;
}

.home-card-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.home-card {
  border: .15rem solid black;
  padding: .5rem;
  background-color: skyblue;
}

.weather-card {
  border: .15rem solid black;
  padding: .5rem;
  background-color: skyblue;
  box-shadow: 0 3px 5px #0005;
  transition: transform 0.2s, box-shadow 0.2s;
}

.weather-card:hover {
  box-shadow: 0 5px 10px #0005;
  transform: scale(1.05);
}

.weather-card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
