li {
  list-style-type: none;
}

.App {
  text-align: center;
}

.current-weather {
  background-color:dodgerblue;
}

.home-card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.home-card {
  border: .1rem solid black;
  border-radius: .75rem;
  padding: .5rem;
  background-color: skyblue;
}

.weather-card {
  border: .1rem solid black;
  border-radius: .75rem;
  padding: .5rem;
  background-color: skyblue;
  box-shadow: 0 3px 5px #0005;
  transition: transform 0.2s, box-shadow 0.2s;
}

.weather-card:hover {
  box-shadow: 0 5px 10px #0005;
  transform: scale(1.05);
}

.weather-card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 1rem;
  gap: .5rem;
  
}

.page-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  font-size:large;
  text-decoration: none;
}

.app-title {
  max-width: 14rem;
}

.search {

}

.search input {
  margin: 1rem;
  padding: .45rem;
  border-radius: .5rem;
}

.search button {
  padding: .45rem;
  border-radius: .5rem;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
